body {
    background: url("/images/backgroundimg1.jpg") no-repeat center center fixed; 
    background-size: cover;
   }

/* Centered div, outline*/
.home-container {
    /* centre */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* Text and info inside main div */
.about {
    background: black;
    padding: 15px;
    /* box-shadow: 8px 8px 6px gray; */
    border-radius: 4px;
    /* text-align: center; */
}

/* Last name */
.name {
    color: white;
    font-family: "Courier New", Courier, monospace;
}

/* Small text in 1st */
.smalltext {
    font-size: 12px;
}

/* Actual info text */
.info-text {
    color: white;
    font-family: "Calibri Light", sans-serif;
    font-weight: lighter;
}

/* Download link for CV */
.download {
    color: white;
}

/* Button alignment */
.buttons {
    text-align: center;
}

/* Button in regular state */
.btn-purple {
    /* background-color: #613F6E;
    border-color: #613F6E; */
    color: white !important;
    background-color: #AE8FBA;
    border-color: #AE8FBA;
    font-family: "Courier New", Courier, monospace;
    /* box-shadow: 8px 8px 6px gray; */
}

/* Button in hovered state */
.btn-purple:hover {
    background-color: #613F6E;
    border-color: #613F6E;
}

/* Dark green color code */
.dgreen {
    color: #4E573A;
}

/* Regular green color code */
.green {
    color: #aebb90;
}

/* Purple color code */
.purple {
    color: #AE8FBA;
    font-family: "Courier New", Courier, monospace;
}
