body {
    background: url("/images/backgroundimg1blur2.jpg") no-repeat center center fixed; 
    background-size: cover;
   }

.form-container {
    /* centre */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.form {
    background: black;
    padding: 15px;
    /* box-shadow: 8px 8px 6px #4E573A; */
    border-radius: 4px;
    /* text-align: center; */
}

.header-contact {
    color: white;
    font-family: "Courier New", Courier, monospace;
}

.small-text {
    color: #aebb90;
}

.buttons {
    text-align: center;
}

.btn-purple {
    /* background-color: #613F6E;
    border-color: #613F6E; */
    color: white !important;
    background-color: #AE8FBA;
    border-color: #AE8FBA;
    font-family: "Courier New", Courier, monospace;
    /* box-shadow: 8px 8px 6px gray; */
}
.btn-purple:hover {
    background-color: #613F6E;
    border-color: #613F6E;
}


.thanks {
    color: #AE8FBA;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.small-thanks {
    color: white;
    text-align: center;
    font-family: "Calibri Light", sans-serif;
}
