body {
    background: url("/images/backgroundimg1blur2.jpg") no-repeat center center fixed; 
    background-size: cover;
}

/* Main centered div */
.home-container {
    /* centre */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* Header */
.header {
    color: #4E573A;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

.small-text {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color: #AE8FBA;
}

/* Actual info div */
.about {
    background: black;
    padding: 15px;
    /* box-shadow: 8px 8px 6px gray; */
    border-radius: 4px;
    /* text-align: center; */
}

/* Button alignment */
.buttons {
    text-align: center;
}

/* Button in regular state */
.btn-purple {
    /* background-color: #613F6E;
    border-color: #613F6E; */
    color: white !important;
    background-color: #AE8FBA;
    border-color: #AE8FBA;
    font-family: "Courier New", Courier, monospace;
    /* box-shadow: 8px 8px 6px gray; */
}

/* Button in hovered state */
.btn-purple:hover {
    background-color: #613F6E;
    border-color: #613F6E;
}

/* In-card text */
.card-text {
    color: white;
}

/* Dark green color code */
.dgreen {
    color: #4E573A;
}

/* Green color code */
.green {
    color: #aebb90;
}
